@import 'reset.css';

* {
  font-family: sans-serif;
}

main {
  width: 50%;
  height: 50%;
  margin: 100px auto;
}

.container {
  box-shadow: 0px 4px 6px 0px #ECEFF4;
  border-radius: 4px;
  padding: 20px;
}

h2 {
  font-weight: bold;
  font-size: 1.4em;
}

li {
  margin: 40px 0px;
}