@import 'reset.css';

* {
  font-family: sans-serif;
  font-size: 1em;
}

header {
  background-color: #2e3440;
  padding: 20px;
  box-shadow: 0px 4px 6px 0px #D8DEE9;
}

#prompt {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 56px);
}

#prompt p {
  font-size: 2em;
  color: #D8DEE9;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  display: none;
  width: 50%;
  margin: 0 auto;
}

.questions, .experience, .top-ten {
  margin: 100px 0;
}

h2 {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 1.2em;
}

li {
  margin: 40px 0px;
}

li > span {
  margin-right: 1em;
}

.fa-check-circle {
  color: #A3BE8C;
}

.fa-times-circle {
  color: #BF616A;
}
